<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tcmp.six.dao.TTUserMapper">
    <select id="login" resultType="User" parameterType="User">
        SELECT * FROM bugdb.user
        WHERE usercode=#{username}
        AND password=#{password}
    </select>
    <select id="queryAll" resultType="User" parameterType="User">
        SELECT * FROM user
    </select>

    <select id="detailByUserid" parameterType="Integer" resultType="User">
        SELECT * FROM user where userid= #{userid} ;
    </select>

    <delete id="delete" parameterType="Integer">
        DELETE FROM bugdb.user WHERE userid = #{userid} ;
    </delete>

    <insert id="add" parameterType="User">
        insert into user values(default,#{usercode},#{password},#{username},#{userroels})
    </insert>

    <select id="queryAllBy" resultType="User" parameterType="User">
       SELECT * FROM USER
       <where>
           1 = 1
           <if test="usercode != null and usercode != ''">
               and usercode LIKE CONCAT ('%',#{usercode},'%')
           </if>
           <if test="username != null and username != ''">
               and username LIKE CONCAT ('%',#{username},'%')
           </if>
           <if test="userroels != null and userroels != ''">
               and userroels LIKE CONCAT ('%',#{userroels},'%')
           </if>
       </where>
    </select>


</mapper>