<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/js/bootstrap.js"></script>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="/js/css/bootstrap.css">
    <script src="/js/js/bootstrap.js"></script>
</head>
<body>
        <table class="table table-striped table-bordered">
            <tr>
                <td>模块id</td>
                <td>模块名称</td>
                <td>项目id</td>
                <td>简介</td>
                <td>操作</td>

            </tr>
            <tr th:each="item:${util.list}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.modeuleName}"></td>
                <td th:text="${item.projectid}"></td>
                <td th:text="${item.describe}"></td>
                <td ><a href="#" id="agree" th:no="${item.id}" thiscount="0">同意指派</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="shenqing" th:no="${item.id}" thiscount="0">申请重新指派</a></td>
            </tr>

        </table>
        <div align="center">
        <button name="jkl" th:no="1" class="btn btn-primary">首页</button>
        <button name="jkl" th:no="${util.pageNo-1}" class="btn btn-primary">上一页</button>
        <button name="jkl" th:no="${util.pageNo+1}" class="btn btn-primary">下一页</button>
        <button name="jkl" th:no="${util.totalPageCount}" class="btn btn-primary">尾页</button>
        <input type="hidden" id="fff" th:value="${util.totalPageCount}">
        <input type="hidden" id="userid" th:value="${userid}">
        </div>
        <script type="text/javascript">

            $(function () {
                $("button[name='jkl']").click(function () {
                    var pages = $("#fff").val();
                    var pageno = $(this).attr("no");
                    pages=parseInt(pages);
                    pageno=parseInt(pageno);
                    if (pageno <= 1) {
                        pageno = 1;
                    }
                    if (pages <= pageno) {
                        pageno=pages;
                    }
                    var id=$("#userid").val();
                    id=parseInt(id);
                    location.href = 'detailById?pageNo='+pageno+'&id='+id;
                })
                $("#agree").click(function () {

                        var id=$(this).attr("no");
                    id=parseInt(id);
                    $(this).text("已同意指派");
                    $(this).removeAttr("onclick");
                    $(this).css("color","gray");
                    $(this).css("text-decoration", "none");
                    var a=$(this);

                    $.post('/agree',{'id':id},function (result) {
                       $(a).unbind("click");
                        $(a).next().unbind("click");
                        $(a).next().css("color","gray");
                        $(a).next().css("text-decoration", "none");

                    });
                })
                $("#shenqing").click(function () {

                    var id=$(this).attr("no");
                    id=parseInt(id);
                    $(this).text("已重新申请");
                    $(this).removeAttr("onclick");
                    $(this).css("color","gray");
                    $(this).css("text-decoration", "none");
                    var a=$(this);

                    $.post('/shenqing',{'id':id},function (result) {
                        $(a).unbind("click");
                        $(a).prev().unbind("click");
                        $(a).prev().css("color","gray");
                        $(a).prev().css("text-decoration", "none");
                    });
                })
            })
        </script>
</body>
</html>