<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="/js/css/bootstrap.css">
    <script src="/js/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../js/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../js/layuiadmin/style/admin.css" media="all">
    <script src="../js/echarts.min.js"></script>

</head>
<body>
<hr/>
<div class="container-fluid">

    <p>
        <span style="font-size: 18px;color: #CCCCCC">2019-09-16</span>
        <span style="font-size: 22px;">今日工作剩余</span>
        </p>
        <br>
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <span style="font-size: 22px">我的任务</span>
        </div>
        <div class="col-md-2 ">
            <span style="font-size: 22px">我的bug</span>
        </div>
        <div class="col-md-2">
            <span style="font-size: 22px">我的需求</span>
        </div>
    </div>
    </br>
    <div class="row" >
        <div class="col-md-2 col-md-offset-3">
            <span style="font-size: 22px">
                <span style="padding-left: 33px">20</span>
            </span>
        </div>
        <div class="col-md-2 ">
            <span style="font-size: 22px">
                <span style="padding-left: 33px">20</span>
            </span>
        </div>
        <div class="col-md-2">
             <span style="font-size: 22px">
                <span style="padding-left: 33px">20</span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <div style="width:90px;height: 22px;background-color:#e7c3c3;color: red;text-indent: 1em">
                已延期:<span>12</span>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="row">
        <div  class="col-md-12">
            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
            <div id="main" style="width: 99%;height: 600px"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'),'light');

    setTimeout(function () {
        option = {
            legend: {},
            tooltip: {
                trigger: 'axis',
                showContent: false
            },
            dataset: {
                source: [
                    ['任务对比', '09-16', '09-17', '09-18', '09-19', '09-20', '09-21'],
                    ['今日任务完成量', 12, 18, 21, 32, 21, 22],
                    ['今日剩余任务量', 2, 3, 1, 5, 2, 1],
                    ['今日bug量', 5, 7, 2, 8, 12,2],
                    ['今日解决量', 5, 7, 2, 7, 9, 2]
                ]
            },
            xAxis: {type: 'category'},
            yAxis: {gridIndex: 0},
            grid: {top: '55%'},
            series: [
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {
                    type: 'pie',
                    id: 'pie',
                    radius: '30%',
                    center: ['50%', '25%'],
                    label: {
                        formatter: '{b}: {@2012} ({d}%)'
                    },
                    encode: {
                        itemName: '任务对比',
                        value: '09-16',
                        tooltip: '09-16'
                    }
                }
            ]
        };

        myChart.on('updateAxisPointer', function (event) {
            var xAxisInfo = event.axesInfo[0];
            if (xAxisInfo) {
                var dimension = xAxisInfo.value + 1;
                myChart.setOption({
                    series: {
                        id: 'pie',
                        label: {
                            formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                        },
                        encode: {
                            value: dimension,
                            tooltip: dimension
                        },

                    }
                });
            }
        });

        myChart.setOption(option);

    });
</script>


<script src="../js/layuiadmin/layui/layui.js?t=1"></script>
<script>
    layui.config({
        base: '../js/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'console']);
</script>
</body>
</html>