<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>查询用户</title>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/js/bootstrap.js"></script>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="../js/css/bootstrap.css">
</head>
<body>
<form action="/user/queryAllBy" align="center">

    <table class="table table-striped table-bordered">

        用户账号： <input type="text" name="usercode">
        用户名： <input type="text" name="username">
        用户角色： <select name="userroels">
        <option value="1">管理员</option>
        <option value="2">项目经理</option>
        <option value="3">开发人员</option>
        <option value="4">测试人员</option>
    </select>
        <br>

        <tr>
            <td>用户Id</td>
            <td>用户账号</td>
            <td>用户名</td>
            <td>用户角色</td>
        </tr>
        <tr th:each="item:${util.list}">
            <td th:text="${item.userid}"></td>
            <td th:text="${item.usercode}"></td>
            <td th:text="${item.username}"></td>
            <td th:if="${item.userroels==1}" th:text="管理员"></td>
            <td th:if="${item.userroels==2}" th:text="项目经理"></td>
            <td th:if="${item.userroels==3}" th:text="开发人员"></td>
            <td th:if="${item.userroels==4}" th:text="测试人员"></td>
        </tr>

        <a href="/user/toAdd">
            <input type="button" value="新增">
        </a>

        <input type="submit" value="查询">


    </table>
    <div align="center">
        <button name="jkl" th:no="1" class="btn btn-primary">首页</button>
        <button name="jkl" th:no="${util.pageNo-1}" class="btn btn-primary">上一页</button>
        <button name="jkl" th:no="${util.pageNo+1}" class="btn btn-primary">下一页</button>
        <button name="jkl" th:no="${util.totalPageCount}" class="btn btn-primary">尾页</button>
        <input type="hidden" id="fff" th:value="${util.totalPageCount}">
        <input type="hidden" id="userid" th:value="${userid}">
    </div>
    <script type="text/javascript">

        $(function () {
            $("button[name='jkl']").click(function () {
                var pages = $("#fff").val();
                var pageno = $(this).attr("no");
                pages=parseInt(pages);
                pageno=parseInt(pageno);
                if (pageno <= 1) {
                    pageno = 1;
                }
                if (pages <= pageno) {
                    pageno=pages;
                }
                var id=$("#userid").val();
                id=parseInt(id);
                location.href = 'queryAllBy?pageNo='+pageno+'&id='+id;
            })

        })
    </script>
</form>
</body>
</html>